<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.truongtvd.callsmsfilter">

    <uses-permission android:name="android.permission.READ_CALL_LOG" />
    <uses-permission android:name="android.permission.WRITE_CALL_LOG" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-feature android:name="android.hardware.telephony" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"></activity>
        <activity
            android:name=".DialogAdd"
            android:theme="@android:style/Theme.Holo.Light.Dialog"></activity>

        <receiver android:name=".broadcast.CallFilterBroastcast">
            <intent-filter android:priority="1000">
                <action android:name="android.intent.action.PHONE_STATE" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".PasswordActivity"
            android:label="@string/app_name">

        </activity>
        <activity android:name=".SetupPass">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name="com.startapp.android.publish.list3d.List3DActivity"
            android:taskAffinity="com.appvnfree.callsmsblock.AppWall"
            android:theme="@android:style/Theme" />

        <activity android:name="com.startapp.android.publish.AppWallActivity"
            android:theme="@android:style/Theme.Translucent"
            android:taskAffinity="com.appvnfree.callsmsblock.AppWall"
            android:configChanges="orientation|keyboardHidden|screenSize" />

    </application>

</manifest>
